@{
    ViewBag.Title = "Home";
}
<link href="@Url.Content("~/css/buttonstylesheet.css")" rel="stylesheet" />

<div class="text-center">
    <h2>Welcome to the Appointment Booking System</h2>
    <p>Manage your appointments easily with our simple booking system.</p>
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("LogIn", "Home")" class="btn btn-pastel btn-lg mr-3">Log In</a>
    <a href="@Url.Action("Register", "Home")" class="btn btn-pastel btn-lg mr-3">Register</a>
    <a href="@Url.Action("BookAppointment", "Appointment")" class="btn btn-pastel btn-lg">Book an Appointment</a>
</div>
